/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/*
  Setting type to a major second modular scale
  http://www.modularscale.com/?16&&1.125&web&text
*/


html {
  font-family: "Montserrat", sans-serif;
  font-size: 1.18em; /* 19px */
  line-height: 1.21em; /* 23px = 1 gridline*/
  background-color: #7acfcd;
  color: #e2e8e0;
}

h1 {
  padding-top: 0.94em; /* 15 px */
  font-size: 1.944em; /* 35px */
  line-height: 1.31; /* 46 @ 35px em */
  padding-bottom: 0.94em; /* 15px */
  text-align: center;
  color: #2e6977;
}

h4 {
  font-size: 1.375em; /* 22px */
  line-height: 1.32em; /* 33 @ 22px em */
}

p,
ul {
  padding-bottom: 1.21em; /* 23px */
  padding-left: 0.625em;  /* 10px */
  padding-right: 1.21em;
}

li {
  padding-bottom: 0.611em; /* 11px = half gridline*/
}

resume {
  font-family: "Montserrat", sans-serif;
  font-size: 1.18em; /* 19px */
  line-height: 1.21em; /* 23px = 1 gridline*/
}

widn {
  font-family: "Montserrat", sans-serif;
  font-size: 1.18em; /* 19px */
  line-height: 1.21em; /* 23px = 1 gridline*/
  padding-right: 1.21em;
}



/* ===== LAYOUT STYLES ===== */

.design {
  height: auto;
  margin: auto;
  padding-top: 0.9375em;
}

.tech {
  height: auto;
  margin: auto;
}

.xbox {
  height: auto;
  margin: auto;
}

.coding {
  height: auto;
  margin: auto;
  padding-top: 0.9375em;
}

.jersey {
  height: auto;
  margin: auto;
}

.my-list {
  padding: 0.625em;
  background-color: #564787;
  border-radius: 1.25em;
}

.intro {
  color: #564787;
}

#copyright {
  font-size: 0.625em;
  text-align: center;
  color: #2e6977;
}

#rights {
  font-size: 0.625em;
  text-align: center;
  color: #2e6977;
}

.navigation-menu {
  text-align: center;
  font-size: 0.8125em;
  padding-top: 1.25em;
  padding-bottom: 0.625em;
}

a.home-nav,
a.resume-nav,
a.widn-nav {
  background-color: #f44336;
  color: #e2e8e0;
  padding-top: 0.0625em;
  padding-bottom: 0.125em;
  padding-left: 0.1875em;
  padding-right: 0.1875em;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  border-style: solid;
  border-width: 0.1875em;
  border-radius: 0.625em;
}

#self-portrait-caption {
  font-size: 0.625em; /* 10px */
  font-style: italic;
  text-align: center;
}

.circular-picture {
  position: relative;
  width: 6.25em;
  height: 6.25em;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.circular-picture img {
  width: 100%;
  height: auto;
  margin: auto;
}
.content ul {
  list-style-type: disc;
}

.mission-statement {
  padding-top: 1em;
  text-align: center;
  color: #2e6977;
}

.contact-header {
  text-align: center;
  padding-bottom: 0.63em;
  padding: 0.625em;
  background-color: #564787;
  border-radius: 1.25em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.contact-info {
  text-align: center;
}

.education-header {
  text-align: center;
  padding-bottom: 0.63em;
  padding-top: 0.63em;
  color: #2e6977;
}

.languages-header {
  text-align: center;
  padding-bottom: 0.63em;
  padding: 0.625em;
  background-color: #564787;
  border-radius: 1.25em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.hands-on-header {
  text-align: center;
  padding-bottom: 0.63em;
  padding-top: 0.63em;
  color: #2e6977;
}

.software-header {
  text-align: center;
  padding-bottom: 0.63em;
  padding: 0.625em;
  background-color: #564787;
  border-radius: 1.25em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.business-header {
  text-align: center;
  padding-bottom: 0.63em;
  padding-top: 0.63em;
  color: #2e6977;
}

.contact-info {
  padding: 0.625em;
  background-color: #564787;
  border-radius: 1.25em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.languages {
  padding: 0.625em;
  background-color: #564787;
  border-radius: 1.25em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.software-knowledge {
  padding: 0.625em;
  background-color: #564787;
  border-radius: 1.25em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.gist {
  padding-left: 1.21em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1.21em;
  background-color: #564787;
  border-radius: 1.25em;
}

.sentence {
  padding-top: 1em;
}

.code {
  display: inline;
  padding-right: 2em;
  padding-left: 1em;
}

.iPhone {
  display: inline;
  padding-right: 2em;
}

.iPad {
  display: inline;
}

.Mac {
  display: inline;
  padding-top: 1em;
  padding-left: 6em;
}

.ending {
  padding-top: 1em;
  background-color: #564787;
  border-radius: 1.25em;
}

#email-contact {
  vertical-align: middle;
  padding-right: 0.5em;
}

#phone-contact {
  vertical-align: middle;
  padding-right: 0.5em;
}

#location-contact {
  vertical-align: middle;
  padding-right: 0.5em;
}


/* ===== STATE STYLES ===== */

/* 775 @ 16px/em */
@media screen and (min-width: 48.4375em) {
  #page {
    margin: 0 25.42857143% 0 14.28571429%;
  }
}

@media screen and (min-width: 990em) {
  #page {
    margin: 0;
  }
  .content {
    position: relative;
  }
  #primary {
    width: 54%; /* 378px @ 700px */
    float: left;
  }
  #secondary {
    width: 39.71428571%; /* 278px @ 700px */
    float: right;
  }
  footer {
    clear: both;
  }
}

@media screen and (min-width: 21.81em) {
  #Mac {
    display: inline;
    padding-left: 2em;
  }
}

